
.hope {
    background-color: aqua;
    box-shadow: 5px 25px 25px 25px rgba(10, 6, 6, 0.66);
    position: fixed;
    top: 30%;
    right: 10px;
    width: 16%;
    height: 48%;
    border-radius: 8px;
}

.hopeOK {
    background-color: aqua;
    border: 3px solid #131315;
    margin-top: 10%;
    margin-left: 25%;
    height: 40px;
    width: 51%;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.hopeOK:hover {
    background-color: #131315;
    color: aqua;
}

.hopeHidden {
    position: fixed;
    visibility: hidden;
}

.label {
    font-size: 2vh;
    text-align: center;
}

.images{
    background-image: url("https://images.wallpaperscraft.ru/image/single/volvo_avtomobil_seryj_194075_1920x1080.jpg");
    width: 100vw;
    height: 100vh;
}

.qr {
    transform: scale(0.9, 0.9);
    border-radius: 25px;
}

.modalTelephone {
    position: fixed;
    margin-left: 20px;
    box-shadow: 5px 25px 25px 25px rgba(10, 6, 6, 0.66);
    top: 25%;
    width: 19%;
    height: 60%;
    background: rgba(0, 255, 255, 0.78);
    border-radius: 5px;
}

.appDone{
    position: fixed;
    margin-left: 20px;
    box-shadow: 5px 25px 25px 25px rgba(10, 6, 6, 0.66);
    top: 25%;
    width: 19%;
    height: 60%;
    background: rgba(0, 255, 255, 0.78);
    border-radius: 5px;
    opacity: 0;
    animation: ani 1s forwards;
}

.appLabel{
    font-size: 80px;
    text-align: center;
    margin-top: 35%;
    line-height: 80%;
}

.appContext{
    font-size: 20px;
    text-align: center;
    margin-top: 25%;

}

.modalTelephoneHidden {
    visibility: hidden;
    position: fixed;
}


.buttons {
    background-color: aqua;
    border: 3px solid #131315;
    margin: 2px;
    height: 21.5%;
    width: 24.5%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.buttonClear {
    background-color: aqua;
    border: 3px solid #131315;
    margin: 2px;
    height: 21.5%;
    width: 50.5%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.hhh {
    background-color: white;
}

.confirmNumber {
    background-color: aqua;
    border: 3px solid #131315;
    margin-top: 10%;
    margin-left: 20%;
    height: 6.5%;
    width: 60%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.confirmNumberDisabled {
    border: 3px solid rgb(131, 128, 128);
    margin-top: 10%;
    margin-left: 20%;
    height: 6.5%;
    width: 60%;
    font-size: 20px;
    text-align: center;
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgb(229, 229, 229) !important;
}

.buttons:hover {
    background-color: #131315;
    color: aqua;
}

.buttonClear:hover {
    background-color: #131315;
    color: aqua;
}

.buttons:active {
    background-color: green;
}

.buttonsField {
    width: 80%;
    height: 30%;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.telephone{
    margin-top: 10%;
    margin-left: 23%;
    width: 56%;
}

.telephoneUncorrection{
    color:red;
}

.manager {
    width: 120%;
    margin-left: -10%;
    text-align: center;
}

.headerTelephone {
    text-align: center;
    margin: 5px;
}

.checkbox {
    border: 3px solid rgb(7, 4, 4);
    background-color: aqua;
    margin-left: 23%;
    margin-top: 10%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.checkboxLabel {
    margin-top: -90%;
    margin-left: 150%;
    width: 200px;
    color: #595a5d;
}

.bicheck {
    transform: scale(2.5, 2.5);
    margin-left: 8px;
    margin-top: 6px;
}

.bicheckOf {
    visibility: hidden;
    margin-left: 8px;
    margin-top: 6px;
}